@inject NavigationManager navigationManager
@inject IDbContextFactory<BomberosDbContext> DbFactory
@using Vista.Services
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Text.Json
@using Vista.Data.Models.Grupos.Brigadas
@using Vista.Data.Models.Personas.Personal
@using Vista.Data.Models.Personas.Personal.Componentes
@using Vista.Data.Models.Imagenes
@using AntDesign;


<link rel="stylesheet" href="/css/BomberosDetallesEstilos.css" />

<div class="container">
        <div class="page-title">
            <Icon Type="fire" Theme="IconThemeType.Fill" Class="page-title-icon" />
            Detalles del Bombero
        </div>

        <Form Model="@bomberoVM" LabelColSpan="8" WrapperColSpan="16">
            <div class="card">
                <Row Gutter="24">
                    <AntDesign.Col Span="6">
                        <div class="profile-photo-container">
                            <div class="photo-preview">
                                @if (bomberoVM.Imagen is not null)
                                {
                                    <Avatar Src="@CargarImage" Alt="Foto de perfil" Size="@("150px")" />
                                }
                                else
                                {
                                    <Avatar Icon="@IconType.Outline.User" Size="@("150px")" />
                                }
                            </div>
                        </div>
                    </AntDesign.Col>
                    <AntDesign.Col Span="18">
                        <div class="card-title">Información Personal</div>
                        <Row Gutter="16">
                            <AntDesign.Col Span="12">
                                <FormItem Label="Nombre">@bomberoVM.Nombre</FormItem>
                            </AntDesign.Col>
                            <AntDesign.Col Span="12">
                                <FormItem Label="Apellido">@bomberoVM.Apellido</FormItem>
                            </AntDesign.Col>
                        </Row>
                        <Row Gutter="16">
                            <AntDesign.Col Span="8">
                                <FormItem Label="Documento">@bomberoVM.Documento</FormItem>
                            </AntDesign.Col>
                            <AntDesign.Col Span="8">
                                <FormItem Label="Fecha de Nacimiento">@bomberoVM.FechaNacimiento</FormItem>
                            </AntDesign.Col>
                            <AntDesign.Col Span="8">
                                <FormItem Label="Lugar de Nacimiento">@bomberoVM.LugarNacimiento</FormItem>
                            </AntDesign.Col>
                        </Row>
                        <Row Gutter="16">
                            <AntDesign.Col Span="12">
                                <FormItem Label="Dirección">@bomberoVM.Direccion</FormItem>
                            </AntDesign.Col>
                            <AntDesign.Col Span="6">
                                <FormItem Label="Sexo">@bomberoVM.Sexo</FormItem>
                            </AntDesign.Col>
                            <AntDesign.Col Span="6">
                                <FormItem Label="Grupo Sanguíneo">@bomberoVM.GrupoSanguineo.GetDisplayName()</FormItem>
                                
                            </AntDesign.Col>
                        </Row>
                    </AntDesign.Col>
                </Row>
            </div>

            <div class="card">
                <div class="card-title">Información Profesional</div>
                <Row Gutter="16">
                    <AntDesign.Col Span="6">
                        <FormItem Label="Número de Legajo">@bomberoVM.NumeroLegajo</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Grado">@bomberoVM.Grado</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Dotación">@bomberoVM.Dotacion</FormItem>
                    </AntDesign.Col>
                </Row>
                <Row>
                    <AntDesign.Col Span="12">
                        <FormItem Label="Chofer">
                            @if (bomberoVM.Chofer)
                            {
                                <div class="chofer-info">
                                    <p>Es Chofer</p>
                                    <p>Vencimiento Registro: @bomberoVM.VencimientoRegistro</p>
                                </div>
                            }
                            else
                            {
                                <div class="chofer-info">
                                    <p>No es Chofer</p>
                                </div>
                            }
                        </FormItem>
                    </AntDesign.Col>
                </Row>
            </div>
            
            <div class="card">
                <div class="card-title">Información Adicional</div>
                <Row Gutter="16">
                    <AntDesign.Col Span="6">
                        <FormItem Label="Altura">@bomberoVM.Altura cm</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Peso">@bomberoVM.Peso kg</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Profesión">@bomberoVM.Profesion</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Nivel de Estudios">@bomberoVM.NivelEstudios</FormItem>
                    </AntDesign.Col>
                </Row>
                <Row Gutter="16">
                    <AntDesign.Col Span="12">
                        <FormItem Label="Número de Ioma">@bomberoVM.NumeroIoma</FormItem>
                    </AntDesign.Col>
                </Row>
                <FormItem Label="Observaciones">@bomberoVM.Observaciones</FormItem>
            </div>
            
            <div class="card">
                <div class="card-title">Información de Contacto</div>
                <Row Gutter="16">
                    <AntDesign.Col Span="6">
                        <FormItem Label="Teléfono Celular">@contactoVM.TelefonoCel</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Teléfono Fijo">@contactoVM.TelefonoFijo</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Teléfono Laboral">@contactoVM.TelefonoLaboral</FormItem>
                    </AntDesign.Col>
                    <AntDesign.Col Span="6">
                        <FormItem Label="Email">@contactoVM.Email</FormItem>
                    </AntDesign.Col>
                </Row>
            </div>

            <div class="card">
                <div class="card-title">Información de Brigada</div>
                <Row Gutter="16">
                    <AntDesign.Col Span="12">
                        <FormItem Label="Nombre de Brigada">@brigadaVM?.NombreBrigada</FormItem>
                    </AntDesign.Col>
                </Row>
            </div>
        </Form>
    </div>
@code {
    [Parameter] public int BomberoId { get; set; }
    BomberosDbContext? Context { get; set; }
    public Bombero bomberoVM { get; set; } = new();
    public Contacto contactoVM { get; set; } = new();
    public Brigada brigadaVM { get; set; } = new();

    //Carga de imagen
    public string CargarImage
    {
        get
        {
            using var context = DbFactory.CreateDbContext();

            string src = "/";

            var imagen = context.ImagenesBomberos
                                .SingleOrDefault(i => i.ImagenId == bomberoVM.Imagen.ImagenId);

            if (imagen is not null)
            {
                src = $"data:{imagen.TipoImagen};base64,{imagen.Base64Imagen}";
            }

            return src;
        }
    }

    // Init
    protected override async Task OnInitializedAsync()
    {
        Context = DbFactory.CreateDbContext();
        bomberoVM = await Context.Bomberos.Where(b => b.PersonaId == BomberoId).SingleOrDefaultAsync();
        contactoVM = await Context.Contactos.Where(c => c.PersonalId == BomberoId).SingleOrDefaultAsync();

        StateHasChanged();
    }

}