@inherits LayoutComponentBase
@inject IconService iconService
@inject NavigationManager navigationManager

<PageTitle>Bomberos Chivilcoy</PageTitle>

<link href="css/layout.css" rel="stylesheet" />


<Layout>
    <Header class="main-header">
        <div class="header-content">
            <Button class="menu-toggle" Type="ButtonType.Primary" OnClick="ToggleCollapsed">
                <Icon Type="@(collapsedMenu ? "menu-unfold" : "menu-fold")" Theme="IconThemeType.Outline" />
            </Button>
            <Menu Mode="MenuMode.Horizontal" Theme="MenuTheme.Light" class="top-menu"
                  SelectedKeys="@GetSelectedMenuKeys()">
                <MenuItem Key="home" OnClick="@(() => navigationManager.NavigateTo("/"))">
                    <i class="fa-solid fa-house"></i> Home
                </MenuItem>
                <MenuItem Key="legajo" OnClick="@(() => navigationManager.NavigateTo("/Bomberos/Legajo"))">
                    <i class="fa-solid fa-id-card"></i> Legajo
                </MenuItem>
                <MenuItem Key="licencias" OnClick="@(() => navigationManager.NavigateTo("/licencias"))">
                    <i class="fa-solid fa-file-alt"></i> Licencias
                </MenuItem>
                <MenuItem Key="moviles" OnClick="@(() => navigationManager.NavigateTo("/unidades"))">
                    <i class="fa-solid fa-car"></i> Móviles
                </MenuItem>
                <MenuItem Key="fuerzas" OnClick="@(() => navigationManager.NavigateTo("/FuerzasIntervinientes"))">
                    <i class="fa-solid fa-shield-halved"></i> Fuerzas
                </MenuItem>
                <MenuItem Key="personal" OnClick="@(() => navigationManager.NavigateTo("/bomberos"))">
                    <i class="fa-solid fa-user"></i> Personal
                </MenuItem>
                <MenuItem Key="salidas" OnClick="@(() => navigationManager.NavigateTo("/salidas"))">
                    <i class="fa-solid fa-sign-out-alt"></i> Salidas
                </MenuItem>
                <MenuItem Key="firmas" OnClick="@(() => navigationManager.NavigateTo("/incidentes-vehiculos"))">
                    <i class="fa-solid fa-signature"></i> Firmas
                </MenuItem>
                <SubMenu Key="reportes" TitleTemplate="@reportesTitle">
                    <MenuItem Key="reportes-salidas" OnClick="@(() => navigationManager.NavigateTo("/Reportes/HistorialSalidas"))">
                        Historial Salidas
                    </MenuItem>
                    <MenuItem Key="reportes-bomberos" OnClick="@(() => navigationManager.NavigateTo("/Reportes/HistorialBomberos"))">
                        Historial Bomberos
                    </MenuItem>
                    <MenuItem Key="reportes-choferes" OnClick="@(() => navigationManager.NavigateTo("/Reportes/Reportes_Choferes"))">
                        Choferes
                    </MenuItem>
                    <MenuItem Key="reportes-moviles" OnClick="@(() => navigationManager.NavigateTo("/Reportes/HistorialMoviles"))">
                        Móviles
                    </MenuItem>
                </SubMenu>
                <SubMenu Key="herramientas" TitleTemplate="@herramientasTitle">
                    <MenuItem Key="brigadas" OnClick="@(() => navigationManager.NavigateTo("/Brigadas"))">
                        Brigadas
                    </MenuItem>
                    <MenuItem Key="comunicacion" OnClick="@(() => navigationManager.NavigateTo("/Dependencias/Comunicacion"))">
                        Comunicación
                    </MenuItem>
                    <MenuItem Key="deposito" OnClick="@(() => navigationManager.NavigateTo("/Dependencias/Deposito"))">
                        Depósito
                    </MenuItem>
                </SubMenu>
                <SubMenu Key="etica" TitleTemplate="@eticaTitle">
                    <MenuItem Key="sanciones" OnClick="@(() => navigationManager.NavigateTo("/bomberos/sancionados"))">
                        Sanciones
                    </MenuItem>
                    <MenuItem Key="ascensos" OnClick="@(() => navigationManager.NavigateTo("/bomberos/ascenso"))">
                        Ascensos
                    </MenuItem>
                </SubMenu>
            </Menu>
        </div>
    </Header>


    <Layout class="main-layout">
        <Sider class="main-sider" @bind-Collapsed="@collapsedMenu" NoTrigger OnCollapse="OnCollapse">
            <Menu Mode="MenuMode.Inline"
                  InlineCollapsed="collapsedMenu"
                  class="main-menu">

                <MenuItem Key="legajo" OnClick="@(() => navigationManager.NavigateTo("/Bomberos/Legajo"))">
                    <IconTemplate>
                        <i class="fa-solid fa-user menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/Bomberos/Legajo">Legajo</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="licencias" OnClick="@(() => navigationManager.NavigateTo("/licencias"))">
                    <IconTemplate>
                        <i class="fa-solid fa-file-signature menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/licencias">Licencias</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="moviles" OnClick="@(() => navigationManager.NavigateTo("/unidades"))">
                    <IconTemplate>
                        <i class="fa-solid fa-truck menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/unidades">Móviles</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="personal" OnClick="@(() => navigationManager.NavigateTo("/bomberos"))">
                    <IconTemplate>
                        <i class="fa-solid fa-people-group menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/bomberos">Personal</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="salidas" OnClick="@(() => navigationManager.NavigateTo("/salidas"))">
                    <IconTemplate>
                        <i class="fa-solid fa-fire-extinguisher menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/salidas">Salidas</a>
                    </ChildContent>
                </MenuItem>

                <MenuItem Key="firmas" OnClick="@(() => navigationManager.NavigateTo("/incidentes-vehiculos"))">
                    <IconTemplate>
                        <i class="fa-solid fa-scroll menu-icon"></i>
                    </IconTemplate>
                    <ChildContent>
                        <a class="menu-link" href="/incidentes-vehiculos">Firmas</a>
                    </ChildContent>
                </MenuItem>

                <SubMenu Key="reportes" TitleTemplate="@reportesTitle">
                    <MenuItem Key="reportes-salidas">
                        <IconTemplate>
                            <i class="fa-solid fa-clock-rotate-left submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/HistorialSalidas">Historial Salidas</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-bomberos">
                        <IconTemplate>
                            <i class="fa-solid fa-users-gear submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/HistorialBomberos">Historial Bomberos</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-choferes">
                        <IconTemplate>
                            <i class="fa-solid fa-id-card submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/Reportes_Choferes">Choferes</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="reportes-moviles">
                        <IconTemplate>
                            <i class="fa-solid fa-truck-droplet submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Reportes/HistorialMoviles">Móviles</a>
                        </ChildContent>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="herramientas" TitleTemplate="@herramientasTitle">
                    <MenuItem Key="brigadas">
                        <IconTemplate>
                            <i class="fa-solid fa-users-gear submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Brigadas">Brigadas</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="comunicacion">
                        <IconTemplate>
                            <i class="fa-solid fa-walkie-talkie submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Dependencias/Comunicacion">Comunicación</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="deposito">
                        <IconTemplate>
                            <i class="fa-solid fa-warehouse submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/Dependencias/Deposito">Depósito</a>
                        </ChildContent>
                    </MenuItem>
                </SubMenu>

                <SubMenu Key="etica" TitleTemplate="@eticaTitle">
                    <MenuItem Key="sanciones">
                        <IconTemplate>
                            <i class="fa-solid fa-user-xmark submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/bomberos/sancionados">Sanciones</a>
                        </ChildContent>
                    </MenuItem>

                    <MenuItem Key="ascensos">
                        <IconTemplate>
                            <i class="fa-solid fa-user-plus submenu-icon"></i>
                        </IconTemplate>
                        <ChildContent>
                            <a class="menu-link" href="/bomberos/ascenso">Ascensos</a>
                        </ChildContent>
                    </MenuItem>
                </SubMenu>
            </Menu>
        </Sider>

        <Layout>
            <Content class="main-content">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>

@code {
    bool collapsedMenu = true;

    void ToggleCollapsed()
    {
        collapsedMenu = !collapsedMenu;
    }

    void OnCollapse(bool isCollapsed)
    {
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }

    string GetHeaderTitle()
    {
        var uri = navigationManager.Uri.ToLower();
        if (uri.Contains("/bomberos/legajo"))
            return "LEGAJO";
        if (uri.Contains("/licencias"))
            return "LICENCIAS";
        if (uri.Contains("/unidades"))
            return "MÓVILES";
        if (uri.Contains("/bomberos") && !uri.Contains("/legajo"))
            return "PERSONAL";
        if (uri.Contains("/salidas"))
            return "SALIDAS";
        if (uri.Contains("/incidentes-vehiculos"))
            return "FIRMAS";
        if (uri.Contains("/reportes/historialsalidas"))
            return "HISTORIAL SALIDAS";
        if (uri.Contains("/reportes/historialbomberos"))
            return "HISTORIAL BOMBEROS";
        if (uri.Contains("/reportes/reportes_choferes"))
            return "CHOFERES";
        if (uri.Contains("/reportes/historialmoviles"))
            return "HISTORIAL MÓVILES";
        if (uri.Contains("/brigadas"))
            return "BRIGADAS";
        if (uri.Contains("/dependencias/comunicacion"))
            return "COMUNICACIÓN";
        if (uri.Contains("/dependencias/deposito"))
            return "DEPÓSITO";
        if (uri.Contains("/bomberos/sancionados"))
            return "SANCIONES";
        if (uri.Contains("/bomberos/ascenso"))
            return "ASCENSOS";

        return "";
    }

    bool IsHome()
    {
        var uri = navigationManager.Uri.ToLower();
        return uri.TrimEnd('/').Equals(navigationManager.BaseUri.TrimEnd('/').ToLower());
    }

    string[] GetSelectedMenuKeys()
    {
        var uri = navigationManager.Uri.ToLower();
        if (uri.Contains("/bomberos/legajo"))
            return new[] { "legajo" };
        if (uri.Contains("/licencias"))
            return new[] { "licencias" };
        if (uri.Contains("/unidades"))
            return new[] { "moviles" };
        if (uri.Contains("/bomberos") && !uri.Contains("/legajo"))
            return new[] { "personal" };
        if (uri.Contains("/salidas"))
            return new[] { "salidas" };
        return Array.Empty<string>();
    }

    RenderFragment reportesTitle =
        @<span class="submenu-title">
        <span class="submenu-title-text"><i class="fa-solid fa-file-lines"></i>Reportes</span>
    </span>;

    RenderFragment herramientasTitle =
        @<span class="submenu-title">
        <span class="submenu-title-text"><i class="fa-solid fa-tools"></i>Herramientas  </span>
    </span>;

    RenderFragment eticaTitle =
        @<span class="submenu-title">
        <span class="submenu-title-text"><i class="fa-solid fa-gavel"></i>Ética</span>
    </span>;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await iconService.CreateFromIconfontCN("//at.alicdn.com/t/font_2735473_hi62ezq5579.js");
        }
    }
}